body {
  font-family: Roboto;
  margin: 0 auto;
  background-color: #242424;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  margin: 5px 5px 0px 0px;
  width: 50px;
  height: 50px;
  background: rgb(31, 165, 255);
  transition: 0.1s;
  cursor: pointer;
}

.placeSale {
  background: rgb(173, 173, 173);
  cursor: inherit;
}

.hidden_sec {
  display: none;
  visibility: hidden;
}

.modal_form {
  padding-top: 10px;
  max-width: 660px;
  margin: 0 auto;
}

.modal {
  width: 567px;
  height: 559px;
  background-color: rgb(255, 255, 255);
}

.form {
  position: relative;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.form p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 8px;
}
.price_place {
  width: 454px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
input {
  width: 446px;
  height: 47px;
}
button {
  width: 454px;
  height: 57px;
  background-color: #3585f7;
  color: #ffff;
  border: none;
  outline: none;
  cursor: pointer;
}
